@import '../variables.scss';

.root :global {
  .mdl-layout-title a {
    color: $black;
    text-decoration: none;
    font-weight: normal;
    background-color: $green;
  }

  .mdl-layout__header { 
    background-color: $green;
  }

  .mdl-layout__header-row .mdl-navigation__link {
    color: $black !important;
    background-color: $green;
  }

  .mdl-layout__drawer > .mdl-layout-title {
    padding-top: 36px;
    background-color: $green;
  }

  .mdl-layout__drawer-button {
    color: $black !important;
  }
}
