/* ==========================================================================
   COLOR
   ========================================================================== */
$white: #FFFFFF;
$black: #333333;
$gray: #E3E3E3;
$green: #03d69d;
$black-light: #2B2D2E;